@import 'src/variables';
.item{
    margin:0 1em 0 1em;
    flex-flow:row wrap ;
    font-size:0.6rem;
    height: 5rem;
    width: 10rem;
    display: flex; 
    font-family: 'Montserrat';
    color: $theme;
    &--icon{
        flex: 0 0 2rem;
    }
    &--text{
        flex: 0 0 3rem;
        p{
            font-weight: 700;
        }
        span{
            font-weight: 300;
        }
    }

}

@media (min-width:360px) and (max-width:460px)
{
    .office-hour , .cart{
        display:none; 
    }
}

