.flex-column{
    flex: 0 0 auto ; 
    display: flex; 
    flex-flow: row wrap ;
    text-align: center;
    align-content: center;
    i{
        flex: 0 0 20%;
    }
    p{
        flex: 0 0 70%;
    }
    span{
        flex: 0 0 10%;
    }
}
.hide{
    display:none; 
}
.menu{
    position: fixed ; 
    display: flex ; 
    flex-flow : column ; 
    height: 100vh;
    min-width: 400px;

    background-color: white;    
   
    &--login{
        cursor: pointer;
        height: 4em;
    }
    &--information{
        cursor: pointer;
        height: 4em;
    }
  
    &--main-menu{
        cursor: pointer;
        height: 4em;
        color:red;
    }

    &--return{
        cursor: pointer;
        height: 3em;    
    }

    &--category {
        cursor: pointer;
        height: 3em;
    }
}
